body {
  font-family: arial, sans-serif;
  background: #f5f0c4;
}
h1 {
  color: #f2f2f2;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 1;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #777678;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
}
a {
  margin: 0 auto;
  color: #222831;
}
p {
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  background: #222831;
}
.overview {
  margin-bottom: 20px;
}
.last-update {
  font-size: 12px;
}
.weather-temperature img {
  height: 76px;
  width: 76px;
}
.weather-temperature strong {
  color: #f2f2f2;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  font-size: 16px;
  color: #f2f2f2;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast img {
  height: 40px;
  width: 40px;
}
.weather-forecast-date {
  font-size: 20px;
  color: #a6acec;
}
.weather-forecast-temperature-max {
  color: #f96d00;
}
.weather-forecast-temperature-min {
  color: #f2f2f2;
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 18px;
}
